.charging {
  display: none;
}

.container {
  text-align: center;
}

.charging.show {
  display: block;
}

.battery-level-meter {
  display: block;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(10px) rotate(-90deg);
}

.battery-level-text {
  position: relative;
  bottom: 10px;
  color: rgb(255, 255, 255);
}