.charging {
  display: none;
}

.container {
  text-align: center;
}

.charging.show {
  display: block;
}

.battery-level-meter {
  height: 30px;
  transform: translateY(10px) rotate(-90deg);
}

.battery-level-text {
  position: relative;
  right: 4.25%;
  color: rgb(255, 255, 255);
}